@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  
    text-align: center;
    background-color: white;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
}

.download-btn {
 background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

h4{
 margin-top: 370px;
 opacity: 20%;
 font-weight: 500;
}